[Unit]
Description=Agent Auto GPT backend service

[Service]
Restart=always
User=root
WorkingDirectory=/home/ubuntu/AgentGPT/platform
ExecStart=/home/ubuntu/.local/bin/poetry run python -m agent_backend

[Install]
WantedBy=multi-user.target